* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0f0f0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}

h1,
h2,
h3 {
  font-family: "Satoshi", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
