@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Dalek";
  src: url("../font/Dalek.ttf") format("truetype");
  font-style: normal;
}
.c-dorado {
  color: #cc9933 !important;
}

.c-amarillo {
  color: #ecc704 !important;
}

.c-gris-claro {
  color: #adadad !important;
}

.c-gris-oscuro {
  color: #4d4d4d !important;
}

.c-azul {
  color: #003366 !important;
}

.bg-amarillo {
  background-color: #ecc704 !important;
}

.bg-gris-claro {
  background-color: #adadad !important;
}

.bg-gris-oscuro {
  background-color: #4d4d4d !important;
}

.bg-azul {
  background-color: #003366 !important;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0f0f0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}

h1,
h2,
h3 {
  font-family: "Dalek", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.navbar-vertical.navbar-expand-xs {
  max-width: 12.5rem !important;
}