@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../font/satoshi.ttf") format("truetype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0f0f0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}

h1,
h2,
h3 {
  font-family: "Satoshi", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.navbar-vertical.navbar-expand-xs {
  max-width: 12.5rem !important;
}